/* fix carousel styles */

/* main carousel */

.carousel .slider-wrapper li img {
  height: calc(32vw);
  object-fit: contain;
}

/* dots indicator */

.carousel .control-dots {
  background-color: rgba(55, 65, 81, 20%);
}

.dark .carousel .control-dots {
  background-color: rgba(193, 193, 193, 20%);
}

/* thumbnail */

.carousel .thumbs-wrapper {
  overflow: scroll;
}

.carousel .thumbs-wrapper li img {
  width: 80px;
  height: 100%;
  text-align: center;
  object-fit: cover;
}

.carousel .thumb {
  border: 3px solid #e5e7eb;
  height: 80px;
}

.dark .carousel .thumb {
  border: 3px solid #374151;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #ea007f;
}
