@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**, ::before, ::after {*/
/*  border-color: rgb(229 231 235); !* gray-200 *!*/
/*}*/

/*.dark *, ::before, ::after {*/
/*  border-color: rgb(55 65 81); !* gray-700 *!*/
/*}*/

/*.grid > div::after {*/
/*  border-color: aquamarine;*/
/*}*/
